//====================================================================================================
.main-section {
	&__container {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(2, 1fr);
		padding-top: rem(80);
		padding-bottom: rem(30);
		column-gap: rem(20);
		@media (max-width: $mobile) {
			grid-template-columns: auto;
			row-gap: rem(30);
			padding-bottom: rem(100);
		}
	}

	&__content {
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 32, 16);
		}
	}

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 40, 20);
		}
	}
}
//====================================================================================================
.decor-main-section {
	// margin: 0 0 0 auto;
	max-width: 336px;
	margin: 0 rem(22);
	justify-self: center;
	@media (min-width: $mobile) {
		width: 100%;
		justify-self: end;
	}
	@media (max-width: $mobile) {
		max-width: none;
		@include adaptiveValue("width", 336, 246);
	}
	&__box {
		position: relative;
		padding-bottom: percent(400, 336);
		&::before,
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: rem(16);
		}
		&::before {
			z-index: 1;
			background-color: $purpleColor;
			transform: rotate(-9.55deg);
		}
		&::after {
			z-index: 2;
			background: #eae6fe url("@img/main/lines.svg") top right / 58% no-repeat;
		}
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: rem(16);
		overflow: hidden;

	}
	&__picture {
		z-index: 3;
		position: absolute;
		bottom: 0;
		left: 0;
		max-width: 100%;
		transition: all 1s ease 0s;

		@media (any-hover: hover){
			&:hover{
				transform: scale(1.03);
			}
		}
	}
}
//========================================================================================================================================================
.portfolio {

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(80);
		padding-bottom: rem(30);
		@media (max-width: $mobile) {
			padding-bottom: rem(100);
		}
	}

	&__header {
		display: flex;
		gap: rem(20);
		justify-content: space-between;
		align-items: center;
		@include adaptiveValue("margin-bottom", 144, 30);
		@media (max-width: em(600)) {
			flex-direction: column;
			align-items: stretch;
		}
	}

	&__title {
	}

	&__controls {
		display: flex;
		align-items: center;
		gap: rem(16);
		@media (max-width: em(600)) {
			justify-content: center;
		}
	}

	&__arrow {
		width: rem(40);
		height: rem(40);
		background: #eae6fe;
		border-radius: rem(16);
		color: #7e74f1;
		font-size: rem(12);
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
				background-color: #c3b9f1;
			}
		}
		&.swiper-button-disabled {
			opacity: 0.5;
			cursor: default;
			background: #eae6fe;
			color: #7e74f1;
		}
		&_left {
			transform: rotate(-180deg);
		}

		&_right {
		}
	}
	
	&__slider {
		@media (max-width: em(650)){
			margin-right: rem(-15);
			padding-right: rem(15);
		}
	}

	&__wrapper {
	}

	&__slide {
	}
}

.item-portfolio {
	border: 1px solid #f5f5f5;
	border-radius: rem(8);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	&__image-ibg {
		overflow: hidden;
		padding-bottom: percent(295, 361);
		opacity: 0.5;
		transition: opacity 0.8s ease 0s;
		img {
			object-position: top;
			transition: transform 0.8s ease 0s;
		}
		@media (any-hover: hover){
			&:hover{
				opacity: 1;
				img {
					transform: scale(1.05);
				}
			}
		}
		@media (any-hover: none) {
			opacity: 1;
		}
	}

	&__body {
		padding: rem(24);
		display: flex;
		flex-direction: column;
		gap: rem(16);
		flex: 1 1 auto;
	}

	&__title {
		flex: 1 1 100%;
	}

	&__link-title {
		font-weight: 500;
		color: $greyColor;
		line-height: 1.25; /* 20/16 */
		transition: color 0.3s ease 0s;
		@media (any-hover: hover){
			&:hover{
				color: $purpleColor;
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		gap: rem(16);
	}

	&__category {
	}

	&__link {
		transition: color 0.3s ease 0s;
		font-size: rem(9.5);
		color: #656d72;
		@media (any-hover: hover){
			&:hover{
				color: $purpleColor;
			}
		}
	}
}
//========================================================================================================================================================
.career {
	background-color: #fbfbfb;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(80);
		padding-bottom: rem(30);
		@media (max-width: $mobile) {
			padding-bottom: rem(100);
		}
	}
	&__body {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;

		@include adaptiveValue("column-gap", 144, 20);
		@include adaptiveValue("row-gap", 80, 20);

		@media (min-width: $mobile) {
			grid-template-columns: auto 1fr;
			grid-template-rows: auto 1fr;
			align-content: center;
			align-items: start;
			grid-auto-flow: column;
		}
	}
	&__navigation {
		._tab-spoller & {
			display: none;
		}
	}

	&__content {
		@media (min-width:$mobile) {
			@include adaptiveValue("padding-top", 32, 15);
			grid-row: span 2;
		}
	}
}

.navigation-career {
	&__title {
		width: 100%;
		padding: rem(14) rem(24);
		line-height: 1.18; /* 19/16 */
		text-align: left;
		transition: all 0.3s ease 0s;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:not(:last-child) {
			margin-bottom: rem(9);
		}
		&::after{
			font-size: rem(12);
			@extend %ic;
			content:'\e901';
			display: none;
		}
		._tab-spoller & {
			border: 1px solid rgba(101, 109, 114, 0.2);
			&::after {
				display: block;
				transform: rotate(90deg);
			}
		}
		&._tab-active {
			background-color: #fff;
			color: $purpleColor;
			&::after {
				display: block;
				._tab-spoller & {
					transform: rotate(-90deg);
				}
			}
		}
	}
}

.content-career {

	&__body {
		._tab-spoller & {
			padding: rem(15) rem(0) rem(15) rem(0);
		}
	}
	&__header {
		@include adaptiveValue("padding-bottom", 32, 20);
		border-bottom: 1px solid #f1f1f1;
	}

	&__title {
		font-weight: 500;
		font-size: rem(18);
		line-height: math.div(23, 18); /* 23/18 */
		&:not(:last-child) {
			margin-bottom: rem(8);
		}
	}

	&__link-title {
		text-decoration: underline;
		@media (any-hover: hover){
			&:hover{
				text-decoration: none;
			}
		}
	}

	&__location {
		color: $greyColor;
		font-size: rem(14);
		line-height: math.div(17, 14); /* 17/14 */
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__time {
		color: $greyColor;
		font-size: rem(14);
		line-height: math.div(24, 14);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
	}

	&__categories {
	}

	&__main {
		@include adaptiveValue("padding-top", 32, 20);
	}

	&__list {
	}
}

.list-content-career {
	&__item {
		color: $greyColor;
		line-height: math.div(19, 16);
		position: relative;
		padding-left: rem(28);
		&:not(:last-child) {
			margin-bottom: rem(16);
		}
		&::before{
			content:'';
			background-color: #d9d9d9;
			width: rem(10);
			height: rem(2);
			position: absolute;
			left: 0;
			top: em(10, 16);
		};
	}
}
//========================================================================================================================================================
.skills {

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(80);
		padding-bottom: rem(30);
		@media (max-width: $mobile) {
			padding-bottom: rem(100);
		}
	}

	&__title {
		@include adaptiveValue("margin-bottom", 112, 30);
	}

	&__body {
		display: grid;
		gap: rem(40);
		@media (min-width: em(850)){
			grid-template-columns: 1fr percent(658, 1200);
		}
	}

	&__timeline {
	}
	&__content {
	}
}

.timeline {
	display: grid;
	gap: rem(64);
	position: relative;
	&::before{
		content:'';
		position: absolute;
		left: rem(12);
		top: em(2.5, 16);
		height: 100%;
		width: 1px;
		background-color: #f1f1f1;
	}
	&__item {
		position: relative;
		padding-left: rem(40);
		&::before{
			content:'';
			position: absolute;
			background-color: #f1f1f1;
			left: rem(4);
			top: em(2.5, 16);
			width: rem(16);
			height: rem(16);
			z-index: 3;
			border-radius: 50%;
		}
		&:last-child {
			&::after{
				content:'';
				z-index: 2;
				position: absolute;
				width: 1px;
				height: 100%;
				left: rem(12);
				bottom: 0;
				background-color: #fff;
			}
		}
	}

	&__title {
		line-height: math.div(20,16);
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
	}

	&__text {
		font-size: rem(14);
		line-height: math.div(17, 14);
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}

	&__date {
		font-weight: 500;
		line-height: math.div(17, 16);
	}
}

.content-skills {

	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 64, 20);
		}
	}

	&__items {
		display: grid;
		@include adaptiveValue("gap", 27, 20);
	}

	&__item {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			height: rem(7);
			width: rem(7);
			background-color: #7e74f1;
			border-radius: 50%;
			top: 27%;
		}
	}
	&__label {
		margin-left: rem(25);
		font-weight: 500;
		line-height: math.div(17, 16);
		&:not(:last-child) {
			// margin-bottom: rem(5);
		}
	}

	&__line {
		background: #f5f3fe;
		height: 8px;
		border-radius: rem(2);
		position: relative;
		span {
			position: absolute;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: rem(2);
			background-color: $purpleColor;
		}
	}
}
//========================================================================================================================================================
.contacts {
	flex: 1;
	background: #fbfbfb;
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: rem(80);
		padding-bottom: rem(30);
		@media (max-width: $mobile) {
			padding-bottom: rem(100);
		}
	}

	&__content {
		display: flex;
		align-items: center;
		@media (max-width: em(850)) {
			flex-direction: column-reverse;
		}
	}

	&__form {
		flex: 0 1 50%;
		@media (max-width: em(850)) {
			flex: 0 1 auto;
			width: 100%;
		}
	}

	&__body {
		flex: 0 1 50%;
		@include adaptiveValue("padding-left", 105, 20);
		@media (max-width: em(850)) {
			flex: 0 1 auto;
			width: 100%;
			padding-left: 0;
		}
	}

	&__list {
		@media (max-width: em(850)) {
			margin-bottom: rem(30);
		}
	}
}
.form {
	display: grid;
	gap: rem(16);

	&__item {
		&:last-child {
			padding-top: rem(22);
		}
	}

	&__input {
		width: 100%;
		height: rem(48);
		border-radius: rem(8);
		padding: rem(0) rem(24);
		background-color: #fff;
		::placeholder {
			color: $greyColor;
		}
		&:focus {
			&::placeholder {
				color: $mainColor;
			}
		}
	}

	&__button {
		background-color: $purpleColor;
		padding: rem(16);
		color: #fff;
		border-radius: rem(8);
		width: 100%;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
				background-color: #654bca;
			}
		}
	}

	&__error {
		padding: rem(5) rem(24) rem(0) rem(24);
		color: red;
		font-size: rem(12);
	}
}

textarea.form__input {
	height: rem(190);
	resize: vertical;
	padding: rem(24);
}
.list-contacts {
	display: grid;
	@include adaptiveValue("gap", 48, 20);
	&__item {
		display: flex;
		align-items: center;
		gap: rem(24);
	}

	&__icon {
		flex: 0 0 rem(56);
		height: rem(56);
		display: flex;
		justify-content: center;
		align-items: center;
		background: #f5f3fe;
		border-radius: rem(16);
	}

	&__body {
	}

	&__title {
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: rem(4);
		}
	}

	&__text {
		font-size: rem(14);
		line-height: math.div(24, 14);
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover{
				color: $purpleColor;
			}
		}
	}
}
